@import '../global.scss';


.crossContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    height: 180px;
    .crossName {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 0px;
        height: 0px;
        animation: cross 1s 0.7s forwards;
        .cross1 {
            position: absolute;
            width: 60px;
            height: 60px;
            top: 0;
            left: 0;
            border-top: 6px solid $primary;
            border-left: 6px solid $primary;
            animation: crossFinish 0.6s ease-out 1.7s forwards;
        }
        .cross2 {
            position: absolute;
            width: 60px;
            height: 60px;
            bottom: 0;
            right: 0;
            border-bottom: 6px solid $primary;
            border-right: 6px solid $primary;
            animation: crossFinish 0.6s ease-out 1.7s forwards;
        }
        .crossName {
            font-size: 100px;
            font-weight: 400;
            color: $primary;
        }
    }
}


@keyframes cross {
    from {
        width: 0px;
        height: 0px;
    }
  
    to {
        width: 655px;
        height: 200px;
    }
}

@keyframes crossFinish {
    from {
        width: 50px;
        // height: 40px;
    }
  
    to {
        width: 655px;
        // height: 60px;
    }
}


.heroContainer {
    height: 100vh;
}
.heroBG {
    display: none;
    position: fixed;
    height:100vh;
    width: 100%;
    z-index: -1;
}

body {
    background: url('./hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.heroFront {
    z-index: 3;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(30,40,90,1),   rgba(30,40,90,0.47));
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(30,40,90,0.47);
}

.heroText {
    color: $primary;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        border: 6px solid $primary;
    }
    .description {
        width: 100%;
        display: flex;
        width: 655px;
        justify-content: space-between;
        animation: riseup 1s;
        h2{
            margin: 0;
            font-size:28px;
            font-weight: 400;
            display: inline;
        }
    }
    h1 {
        font-size: 84px;
        overflow: hidden;
        font-weight: bold;
        margin: 0;
        display: inline-block;
        white-space: nowrap;
        animation: typing 1s steps(30, end);
        color: $primary;
    }

    @keyframes flash {
        from {
            opacity: 1;
        }
      
        to {
            opacity: 0;
        }
    }

    @keyframes riseup {
        from {
            transform: translateY(200px);
            opacity: 0;
        }
      
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 400px; }
    }


}

.sectionLinks {
    display: none;
}
.contactBar {
    display: none;
}

.emailContainer {
    z-index: 50;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 0;
    justify-content: center;
    padding: 20px 10px;
    font-size: 20px;
    transform: translateY(100px);
    animation: emailUp 1s 2s forwards;
    .email {
        color: $primary;
        display: flex;
        align-items: center;
        padding: 12px 25px;
        border-radius: 50px;
        border: 2px solid rgba(0,0,0,0);
        transition: 0.2s;

        .emailLogo {
            font-size: 28px;
            
        }
        font-size: 25px;
        &:hover {
            border: 2px solid $primary;

        }
        .emailText {
            width: 0;
            overflow: hidden;
            animation: emailExpand 0.8s 3s forwards;
        }
    }
    
}

@keyframes emailUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
  
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes emailExpand {
    from {
        width: 0;
        padding-left: 0;
    }
  
    to {
        width: 320px;
        padding-left: 10px;
    }
}



@media only screen and (max-width: 1000px) {
    .contactBar {
        z-index: 50;
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: center;
        font-size: 30px;
        background: $primary;
        
        .contactBtn {
            color: $dark;
            width: 90px;
            height: 70px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .crossContainer {
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        .crossName {
            animation: cross 1s 0.7s forwards;
            .cross1 {
                width: 30px;
                height: 30px;
                border-top: 3px solid $primary;
                border-left: 3px solid $primary;
                animation: crossFinish 0.6s ease-out 1.7s forwards;
            }
            .cross2 {
                width: 30px;
                height: 30px;
                border-bottom: 3px solid $primary;
                border-right: 3px solid $primary;
                animation: crossFinish 0.6s ease-out 1.7s forwards;
            }
            .crossName {
                font-size: 48px;
            }
        }
    }

    .heroText {
        .description {
            width: auto;
            flex-direction: column;
            align-items: center;
            h2 {
                font-size: 23px;
                margin-bottom: 15px;
            }
        }
    }


    @keyframes cross {
        from {
            width: 0px;
            height: 0px;
        }
      
        to {
            width: 300px;
            height: 120px;
        }
    }
    
    @keyframes crossFinish {
        from {
            width: 50px;
            // height: 40px;
        }
      
        to {
            width: 300px;
            // height: 60px;
        }
    }

    .emailContainer {
        bottom: 80px;
        transform: translateY(100px);
        animation: emailUp 1s 2s forwards;
        .email {
            padding: 0;
            border: none;
            font-size: 18px;
            .emailLogo {
                font-size: 18px;
            }
            &:hover {
                border: none;
            }
            .emailText {
                width: 0;
                overflow: hidden;
                animation: emailExpand 0.8s 3s forwards;
            }
        }
        
    }
    @keyframes emailExpand {
        from {
            width: 0;
            padding-left: 0;
        }
      
        to {
            width: 215px;
            padding-left: 5px;
        }
    }

}

@media only screen and (max-width: 600px) {

    .heroBG {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .heroBGIMG {
            width: 779px;
            height:  1078px;
        }
    }

    .sectionLinks {
        z-index: 50;
        display: flex;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: space-around;
        padding: 20px 5px;
        font-size: 15px;
    }
}