@import '../global.scss';


.heroContainer {
    height: 100vh;
}
.heroBG {
    position: absolute;
    background: url(./hero.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.heroFront {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(30,40,90,1),   rgba(30,40,90,0.47));
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(30,40,90,0.47);
}

.heroText {
    color: $primary;
    margin-bottom: 70px;
    width: 770px;
    .name {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        border: 6px solid $primary;
    }
    .description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        animation: riseup 1s;
    }
    h1 {
        font-size: 84px;
        overflow: hidden;
        font-weight: bold;
        margin: 0;
        display: inline-block;
        white-space: nowrap;
        animation: typing 1s steps(30, end);
        color: $primary;
    }

    @keyframes flash {
        from {
            opacity: 1;
        }
      
        to {
            opacity: 0;
        }
    }

    @keyframes riseup {
        from {
            transform: translateY(200px);
            opacity: 0;
        }
      
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 400px; }
    }
    h2{
        margin: 0;
        font-size: 33px;
        font-weight: 400;
        display: inline;
    }

}

@media only screen and (max-width: 1000px) {
    .heroText {
        max-width: 550px;
        width: 80%;
        h1 {
            font-size: 50px;
            width: 238px;
            animation: typing1000 1s steps(30, end);
        }
        .name { 
            border: 4px solid $primary;
        } 
        h2{
            font-size: 20px;
        }
        @keyframes typing1000 {
            from { width: 0 }
            to { width: 238px; }
        }

    }
}
.sectionLinks {
    display: none;
}
.contactBar {
    display: none;
}

.emailContainer {
    z-index: 50;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 0;
    justify-content: center;
    padding: 20px 10px;
    font-size: 20px;
    .email {
        color: $primary;
        display: flex;
        align-items: center;
        padding: 12px 25px;
        border-radius: 50px;
        border: 2px solid rgba(0,0,0,0);
        transition: 0.2s;
        .emailLogo {
            font-size: 28px;
            margin-right: 5px;
        }
        font-size: 25px;
        &:hover {
            border: 2px solid $primary;

        }
    }
}
@media only screen and (max-width: 1000px) {
    .contactBar {
        z-index: 50;
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: center;
        font-size: 30px;
        background: $primary;
        
        .contactBtn {
            color: $dark;
            width: 90px;
            height: 70px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .emailContainer {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .heroText {
        .description {
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 45px;
            width: auto;
            animation: none;
        }
        h2 {
            margin-top: 22px;
        }
        @keyframes typing600 {
            from { width: 0 }
            to { width: 214px; }
        }
    }
    .heroBG {
        background: url(./hero-mobile.png) no-repeat center center fixed;
    }
    .sectionLinks {
        z-index: 50;
        display: flex;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: space-around;
        padding: 20px 5px;
        font-size: 15px;
    }
}